@media (max-width: 1280px)
    .about-us
        &__item
            margin: 0 auto
            &--second
                margin-top: 72px
            &--third
                margin-top: 120px
            &--four
                margin-top: 88px
        &__itemText
            max-width: 365px
    .award
        &__item
            width: 410px
            img
                width: 159px
                height: 104px
        &__box
            padding: 50px 35px 20px 35px
            height: 208px
        &__itemTitle
            font-size: 16px
            margin-bottom: 8px
        &__text
            p
                font-size: 12px
        .next
            width: 18px
            height: auto
            right: 15%
            top: 60%
        .prev
            width: 50px
            height: 50px
            left: 13%
            top: 60%

@media (max-width: 767px)
    .about-us
        &__item
            display: flex
            flex-direction: column
            padding-top: 80px
            position: relative
            margin-top: 50px
        &__itemTitle
            position: absolute
            top: 20px
            font-size: 36px
            right: 0
        &__text
            margin-bottom: 20px
        &__circle
            width: 137px
            height: 137px
            margin-bottom: 17px
            &--first
                img
                    width: 95px
                    left: 40px
                    bottom: 20px
            &--second
                img
                    width: 114px
                    left: 23px
                    bottom: 29px
            &--third
                margin-top: 30px
                img
                    width: 131px
                    left: 0px
                    bottom: 49px
            &--four
                img
                    width: 58px
                    left: 46px
                    bottom: 29px
                
        &__btn
            img
                width: 65px
                height: 65px
            span
                font-size: 12px

    .award
        margin-top: 80px
        &__item
            width: 288px
            img
                width: 159px
                height: 104px
        &__box
            padding: 50px 35px 20px 35px
            width: 288px
            min-width: unset
            height: 250px
        &__itemTitle
            font-size: 16px
            margin-bottom: 8px
        &__text
            p
                font-size: 12px
        .next
            width: 18px
            height: auto
            right: 15%
            top: 60%
        .prev
            width: 50px
            height: 50px
            left: 13%
            top: 60%