@media (max-width: 1280px)
    .news
        padding-top: 50px
        margin-bottom: 60px
        &__block
            grid-gap: 20px 0
            width: 100%
        &__item
            width: 100%
        &__image    
            min-width: 244px
            max-width: 244px
            img
                width: 244px
                height: 100%
                object-fit: cover
        &__content
            padding: 23px 14px 21px 24px
        &__date
            font-size: 12px
            margin-bottom: 7px
        &__itemTitle
            font-size: 18px
            line-height: 21px
        &__itemText
            margin-bottom: 16px
        &__pagination
            margin-top: 24px
            
        &__number
            a
                font-size: 12px
                width: 47px
                height: 47px
    .one-news
        padding-top: 52px
        &__slider
            margin-bottom: 90px
        &__itemText
            p
                font-size: 14px
                line-height: 23px
        &__sliderFor
            width: 545px
            height: 318px
            .slick-track
                img
                    width: 545px
                    height: 318px
                    object-fit: cover
        &__sliderImage
            margin: 0 6px
        &__sliderNav
            margin-top: 12px
            img
                width: 98px
                height: 58px
        .prev
            width: 40px
            height: 40px
            left: -60px
        .next
            width: 14px
            right: -40px
    .news-content
        padding-bottom: 110px
        &__text
            margin-bottom: 30px
            p
                font-size: 14px
                line-height: 23px
            ul
                margin: 30px 0
                li
                    font-size: 14px
        &__image
            width: 100%
        &__descr
            margin-top: 20px
        &__rightBlock
            margin-top: 55px
            p
                line-height: 23px
                font-size: 14px
            img
                width: 270px
                object-fit: cover
    .special-events
        margin-bottom: 90px
        &__block
            width: 100%
            grid-gap: 30px
        &__itemText
            margin-bottom: 15px
        &__item
            &:first-child
                margin-bottom: 45px
                .special-events__itemTitle
                    font-size: 26px
        &__content
            padding: 18px 30px 27px 25px
        &__pagination
            margin-top: 75px

@media (max-width: 767px)
    .news
        &__item
            display: flex
            flex-direction: column
        &__content
            width: 100%
            padding: 18px 10px
            border: 1px solid #ccc
            border-radius: 0 0 10px 10px
        &__image
            min-width: 100%
            max-width: 100%
            img
                width: 100%
                height: 144px
                border-radius: 10px 10px 0 0
        &__itemTitle
            max-width: 100%
            font-size: 16px
            line-height: 18px
        &__pagination
            margin-top: 30px
        &__date
            font-size: 10px
        &__readMore
            font-size: 10px
        &__number
            a
                font-size: 10px
                width: 36px
                height: 36px
    .one-news
        padding-top: 20px
        &__slider
            margin-bottom: 20px
        &__itemText
            margin-bottom: 32px
            p
                font-size: 14px
                line-height: 23px
        &__sliderFor
            width: 70%
            height: auto
            .slick-track
                img
                    width: 100%
                    height: auto
                    object-fit: cover
        &__sliderImage
            margin: 0 6px
        &__sliderNav
            margin-top: 12px
            img
                width: 66px
                height: 45px
            .slick-track
                img
                    border-radius: 5px
        .prev
            width: 23px
            height: 23px
            left: -40px
        .next
            width: 8px
            right: -25px
    .news-content
        padding-bottom: 140px
        &__descr
            font-size: 8px
            line-height: 13px
            max-width: 235px
        &__rightBlock
            display: flex
            flex-direction: column
            p
                margin-right: 0
                margin-bottom: 33px
            img
                width: 100%
                height: auto
                border-radius: 10px
    .special-events
        margin-bottom: 90px
        &__block
            width: 100%
            display: flex
            flex-direction: column
            grid-gap: unset
        &__itemText
            margin-bottom: 15px
        &__itemTitle
            font-size: 14px
        &__image
            img
                height: 166px
        &__item
            &:not(:last-child)
                margin-bottom: 10px
            &:first-child
                margin-bottom: 55px
                .special-events__itemTitle
                    font-size: 18px
        &__content
            padding: 18px 30px 27px 25px
        &__pagination
            margin-top: 75px