@media (max-width: 1280px)
    .news
        padding-top: 50px
        margin-bottom: 60px
        &__block
            grid-gap: 20px 0
            width: 100%
        &__item
            width: 100%
        &__image    
            min-width: 244px
            max-width: 244px
            img
                width: 244px
                height: 100%
                object-fit: cover
        &__content
            padding: 23px 14px 21px 24px
        &__date
            font-size: 12px
            margin-bottom: 7px
        &__itemTitle
            font-size: 18px
            line-height: 21px
        &__itemText
            margin-bottom: 16px
        &__pagination
            margin-top: 24px
            
        &__number
            a
                font-size: 12px
                width: 47px
                height: 47px