html,
body 
	height: 100%
	background: #fff
	font-family: "Raleway-Regular"

.wrapper 
	display: flex
	flex-direction: column
	min-height: 100%
	overflow: hidden

.main 
	word-wrap: break-word
	flex: 1 0 auto

.footer 
	flex: 0 0 auto

.container
  width: 1240px
  margin: 0 auto

.title
	word-wrap: break-word
	font-size: 180px
	color: #073773
	text-align: center
	font-family: "PhillippScript"
	font-weight: 300
	line-height: 212px

.subtitle
	word-wrap: break-word

.btn
	display: flex
	align-items: center
	cursor: pointer
	border: none
	span
		font-size: 16px
		padding: 9px 0
		font-family: "Raleway-Bold"
		margin-left: -6px
		background: transparent
		text-transform: uppercase
		color: #073773

.white-btn
	background: #fff
	border-radius: 60px
	font-size: 16px
	padding: 0 46px
	text-align: center
	color: #3483C7
	align-items: center
	font-family: "Raleway-Bold"
	text-transform: uppercase
	width: 232px
	height: 60px
	line-height: 16px
	cursor: pointer
	display: flex
	border: none
	justify-content: center

.blur
	width: 793px
	height: 793px
	background: #3483C7
	opacity: .2
	border-radius: 50%
	filter: blur(264px)


input
	cursor: pointer
	&::placeholder,
	&::-webkit-input-placeholder,
	&::-moz-placeholder,
	&::-ms-input-placeholder,
		color: #fff

.header
	.container	
		width: 1320px
	&-mobile
		display: none
	&__menu
		display: none
	&__nav
		display: flex
		align-items: center
		height: 87px
		position: relative
		&::after
			content: ''
			display: block
			position: absolute
			width: 432px
			height: 41px
			background: url('../img/svg/header-swosh.svg') center center/cover no-repeat
			left: -120px
			bottom: -38px
			z-index: 3
	&__logo
		margin-right: 48px
		margin-top: 14px
		position: relative
		z-index: 10
		svg
			z-index: 10
	&__links
		display: flex
		margin-right: 47px
		li
			display: block 
			a
				padding: 4px 0
				color: #000
				text-decoration: none 
				text-transform: uppercase 
				transition: 0.5s 
				white-space: nowrap
				position: relative
				&::after
					position: absolute 
					content: "" 
					top: 100% 
					left: 0 
					width: 100% 
					height: 3px 
					background: #3483C7
					transform: scaleX(0) 
					transform-origin: right 
					transition: transform 0.5s 
				&:hover 
					color: #3483C7
					&::after 
						transform: scaleX(1) 
						transform-origin: left 
			&:not(:last-child)
				margin-right: 24px
	&__shedule
		display: flex
		align-items: center
		margin-right: 43px
		a
			font-family: "Raleway-Bold"
			font-size: 13px
			color: #073773
			margin-left: 6px
			text-transform: uppercase
	&__social
		display: flex
		margin-right: 44px
		a
			width: 28px
			height: 28px
			border: 1px solid #939598
			border-radius: 50%
			display: block
			position: relative
			svg
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
			&:not(:last-child)
				margin-right: 7px
	&__lang
		display: flex
		a
			font-size: 12px
			text-transform: uppercase
			white-space: nowrap
			color: #939598
			&:not(:last-child)
				margin-right: 12px
		.active
			font-family: "Raleway-Bold"
			color: #073773

.footer
	background: url('../img/footer-bg.png') center center/cover no-repeat
	padding-bottom: 12px
	padding-top: 30px
	z-index: 2
	&__nav
		display: flex
		align-items: center
		margin-bottom: 26px
		&::after
			
	&__logo
		margin-bottom: 8px
		margin-top: 34px
		svg	
			path	
				fill: #fff
	&__links
		display: flex
		margin-right: 42px
		li
			display: block 
			a
				padding: 4px 0 
				color: #fff
				text-decoration: none 
				text-transform: uppercase 
				transition: 0.5s 
				white-space: nowrap
				position: relative
				&::after
					position: absolute 
					content: "" 
					top: 100% 
					left: 0 
					width: 100% 
					height: 3px 
					background: #3483C7
					transform: scaleX(0) 
					transform-origin: right 
					transition: transform 0.5s 
				&:hover 
					color: #3483C7
					&::after 
						transform: scaleX(1) 
						transform-origin: left 
			&:not(:last-child)
				margin-right: 24px
	&__shedule
		display: flex
		align-items: center
		margin-right: 43px
		color: #fff
		a
			font-family: "Raleway-Bold"
			font-size: 13px
			color: #fff
			margin-left: 6px
			text-transform: uppercase
		svg
			path
				fill: #fff
	&__social
		display: flex
		a
			width: 28px
			height: 28px
			border: 1px solid #fff
			border-radius: 50%
			display: block
			position: relative
			svg
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				path
					fill: #fff
			&:not(:last-child)
				margin-right: 7px
	&__rights
		display: flex
		align-items: flex-end
	&__address
		color: #fff
		max-width: 128px
		font-size: 11px
		margin-right: 200px
	&__reserved
		font-size: 8px
		color: #fff
		margin-right: 47px

.first-screen
	width: 100%
	position: relative
	z-index: 2
	img
		width: 100%
	&__title
		font-size: 100px
		line-height: 118px
		font-family: "PhillippScript"
		left: 50%
		transform: translateX(-50%)
		top: 87px
		position: absolute
		color: #fff
		&--bottom
			top: 33%
			text-align: center
			font-size: 60px
			line-height: 71px
			max-width: 766px
		&--top
			width: 100%
			top: 14%
			text-align: center
	&__breadcrumbs
		position: absolute
		top: 31px
		left: 50%
		transform: translate(-50%)
		display: flex
		align-items: center
		a
			color: #fff	
			margin-right: 9px
			display: flex
			align-items: center
			span
				margin-right: 9px
				font-size: 10px
			svg
	&__arrow
		min-width: 3px
		min-height: 5px
	&__main
		margin-left: 4px
	&__current
		font-size: 10px
		color: #fff
		opacity: .5
	&__house
		margin-top: -3px
	&__date
		position: absolute
		top: 25%
		left: 50%
		transform: translate(-50%)
		font-size: 10px
		color: #fff
		opacity: .5
	&__btn
		position: absolute
		left: 50%
		transform: translateX(-50%)
		top: 50%
		line-height: 18px
		&--event
			top: 65%
	&__text
		position: absolute
		top: 40%
		color: #fff
		text-align: center
		left: 50%
		transform: translateX(-50%)
		font-size: 18px
		line-height: 21px
	&__mainImage
		position: relative
		height: 441px
		img
			height: 100%
			object-fit: cover
		&::before	
			content: ''
			display: block
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: linear-gradient(75.62deg, #009EE2 7.02%, #273992 91.67%)
			opacity: .7
		&::after
			content: ''
			display: block
			position: absolute
			bottom: -2px
			left: 0
			width: 100%
			height: 251px
			background: url('../img/wave-cover.png') center center/cover no-repeat
		&--red
			&::before
				content: ''
				display: block
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				background: linear-gradient(75.62deg, rgba(159, 41, 111, 0.7) 7.02%, rgba(191, 53, 179, 0.7) 91.67%)
				opacity: .7
				
@media (min-width: 1600px)
	.first-screen
		height: 460px
		&__mainImage
			height: 460px
			img
				height: 460px
			&::after
				height: 340px


@media (max-width: 1480px)
	.header
		margin-left: -40px
@media (max-width: 1438px)
	.title
		font-size: 120px
		line-height: 140px
	.header
		margin-left: 0
		.container
			width: 100%
			padding: 0 20px
		&__nav
			justify-content: space-between
			width: 100%
			max-width: 688px
			margin: 0 auto
			height: 59px
			&::after
				height: 22px
				bottom: -18px
				width: 350px
				left: -80px
		&__links
			display: none
		&__logo
			margin-right: 0
			svg
				width: 179px
				height: auto
		&__shedule
			margin-right: 0
		&__social
			margin-right: 0
			a
				width: 22px
				height: 22px
				svg
					width: 50%
		&__menu
			display: flex
			cursor: pointer
			svg
				width: 30px
				height: 16px
	.header-mobile
		background: rgba(0, 0, 0, .5)
		width: 100%
		height: 100vh
		display: flex
		position: fixed
		top: 0
		left: -100%
		z-index: 100
		transition: .4s
		&__close
			cursor: pointer
		&__block	
			display: flex
			flex-direction: column
			background: #fff
			width: 100%
			height: 80vh
			margin-right: 0
			text-align: center
		&__nav
			display: flex
			justify-content: space-between
			width: 50%
			max-width: 588px
			margin: 0 auto
			padding-top: 20px
		&__logo
			svg
				width: 180px
				height: auto
		&__links
			display: flex
			flex-direction: column
			margin-top: 40px
			li
				display: block 
				a
					padding: 4px 0
					color: #000
					text-decoration: none 
					text-transform: uppercase 
					transition: 0.5s 
					white-space: nowrap
					position: relative
					&::after
						position: absolute 
						content: "" 
						top: 100% 
						left: 0 
						width: 100% 
						height: 3px 
						background: #3483C7
						transform: scaleX(0) 
						transform-origin: right 
						transition: transform 0.5s 
					&:hover 
						color: #3483C7
						&::after 
							transform: scaleX(1) 
							transform-origin: left 
				&:not(:last-child)
					margin-bottom: 24px
		&__bottom
			display: flex
			width: 50%
			max-width: 588px
			margin: 0 auto
			margin-top: auto
			justify-content: space-between
			margin-bottom: 20px
		&__shedule
			display: flex
			align-items: center
			margin-right: 43px
			a
				font-family: "Raleway-Bold"
				font-size: 13px
				color: #073773
				margin-left: 6px
				text-transform: uppercase
		&__social
			display: flex
			a
				width: 28px
				height: 28px
				border: 1px solid #939598
				border-radius: 50%
				display: block
				position: relative
				svg
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
				&:not(:last-child)
					margin-right: 7px
		&__lang
			display: flex
			margin: 0 auto
			margin-bottom: 20px
			a
				font-size: 12px
				text-transform: uppercase
				white-space: nowrap
				color: #939598
				&:not(:last-child)
					margin-right: 15px
			.active
				font-family: "Raleway-Bold"
				color: #073773
	.first-screen
		height: 320px
		img
			height: 320px
		&__title
			top: 50px
			font-size: 60px
			&--bottom
				top: 30%
				font-size: 48px
				max-width: 688px
				width: 652px
			&--top
				top: 7%
		&__breadcrumbs
			top: 20px
		&__date
			top: 20%
		&__text
			font-size: 12px
			line-height: 18px
		&__btn
			&--event
				width: 143px !important
				height: 36px !important
				padding: 0 20px !important
				font-size: 10px !important
				top: 70%
		&__mainImage
			height: 320px
			&::after
				content: ''
				display: block
				position: absolute
				bottom: -2px
				left: 0
				width: 100%
				height: 220px
				background: url('../img/wave-cover.png') center center/cover no-repeat
			
	.footer
		&__logo
			svg
				width: 185px
				height: auto
		&__nav
			margin-bottom: 42px
		&__links
			li
				a
					font-size: 11px
		&__shedule
			a
				font-size: 11px
			svg
				width: 16px
				height: auto

@media (max-width: 1280px)
	.container
		width: 688px
		margin: 0 auto
	.first-screen
		&__btn
			height: 52px !important
			width: 201px !important
			padding: 0 100px !important
			top: 55% 
			&--event
				width: 143px !important
				height: 36px !important
				padding: 0 20px !important
				font-size: 10px !important
				top: 70%

@media (max-width: 1050px)
	.footer
		background: url('../img/footer-tablet-bg.png') center center/cover no-repeat
	.first-screen	
		height: 274px
		&__mainImage
			height: 274px
			img
				height: 274px
			&::after
				content: ''
				display: block
				position: absolute
				bottom: -2px
				left: 0
				width: 100%
				height: 180px
				background: url('../img/wave-cover-tablet.png') center center/cover no-repeat

@media (max-width: 767px)
	.container
        width: 320px
        padding: 0 16px
	.title
		font-size: 60px
		line-height: 70px
	.header
		&__nav
			height: 41px
			max-width: 100%
			position: relative
			z-index: 3
			&::after
				height: 16px
				bottom: -15px
				width: 200px
				left: -60px
		&__shedule
			display: none
		&__social
			display: none
		&__lang
			display: none
		&__logo
			svg
				width: 131px
	.header-mobile
		&__block
			height: 90vh
		&__nav
			width: 100%
			padding: 15px 15px 0 15px
			align-items: center
		&__logo
			svg
				width: 148px
		&__links
			margin-top: 27px
			li
				a
					font-size: 18px
					&:not(:last-child)
						margin-bottom: 16px
		&__bottom
			width: 100%
			max-width: 100%
			padding: 15px 20px
			margin-bottom: 15px
	.footer
		background: url('../img/footer-mobile-bg.png') center center/cover no-repeat
		.container
			display: grid
			grid-template-columns: 1fr 1fr
			grid-gap: 17px 0
		&__nav
			display: flex
			flex-direction: row
			margin-bottom: 0
		&__links
			display: none
		&__logo
			margin-top: 0
			margin-bottom: 0
			svg
				width: 102px
				height: auto
		&__rights
			grid-column-start: 1
			grid-column-end: 3
		&__address
			display: none
		&__reserved
			margin-right: 0
		&__social
			margin-left: auto
			a
				width: 15px	
				height: 15px
				svg
					width: 50%
					max-height: 8px
					height: auto
		&__shedule
			a
				font-size: 11px
	.first-screen
		height: 152px
		img
			height: 152px
		&__title
			top: 30px
			font-size: 24px
			line-height: 50px
			text-align: center
			&--bottom
				top: 42%
				width: 100%
				max-width: 90%
				font-size: 24px
				line-height: 28px
		&__breadcrumbs
			width: max-content
			left: 50%
			transform: translateX(-50%)
			a
				span
					font-size: 8px
		&__date
			top: 28%
		&__current
			font-size: 8px
		&__btn
			width: 108px !important
			height: 28px !important
			padding: 0 30px !important
			font-size: 10px !important
			line-height: 110% !important
			&--event
				width: 107px !important
				height: 27px !important
				padding: 0 10px !important
				font-size: 8px !important
				top: 70%
		&__text
			font-size: 8px
			line-height: 9px
		&__mainImage
			height: 152px
			&::after
				content: ''
				display: block
				position: absolute
				bottom: -2px
				left: 0
				width: 100%
				height: 120px
				background: url('../img/wave-cover-tablet.png') center center/cover no-repeat