html,
body 
	height: 100%
	background: #fff
	font-family: "Raleway-Regular"

.wrapper 
	display: flex
	flex-direction: column
	min-height: 100%
	overflow: hidden

.main 
	word-wrap: break-word
	flex: 1 0 auto

.footer 
	flex: 0 0 auto

.container
  width: 1240px
  margin: 0 auto

.title
	word-wrap: break-word
	font-size: 180px
	color: #073773
	text-align: center
	font-family: "PhillippScript"
	font-weight: 300
	line-height: 212px

.subtitle
	word-wrap: break-word

.btn
	display: flex
	align-items: center
	cursor: pointer
	span
		font-size: 16px
		padding: 9px 0
		font-family: "Raleway-Bold"
		margin-left: -6px
		background: transparent
		text-transform: uppercase
		color: #073773

.white-btn
	background: #fff
	border-radius: 60px
	font-size: 16px
	padding: 22px 46px
	color: #3483C7
	font-family: "Raleway-Bold"
	text-transform: uppercase
	width: 232px
	line-height: 16px
	text-align: center
	cursor: pointer
	display: block

.blur
	width: 793px
	height: 793px
	background: #3483C7
	opacity: .2
	border-radius: 50%
	filter: blur(264px)


input
	cursor: pointer
	&::placeholder,
	&::-webkit-input-placeholder,
	&::-moz-placeholder,
	&::-ms-input-placeholder,
		color: #fff

.header
	.container	
		width: 1320px
	&__nav
		display: flex
		align-items: center
		height: 87px
		position: relative
		&::after
			content: ''
			display: block
			position: absolute
			width: 432px
			height: 41px
			background: url('../img/svg/swosh.svg') center center/cover no-repeat
			left: -80px
			bottom: -18px
			z-index: 2
	&__logo
		margin-right: 48px
		margin-top: 14px
		position: relative
		z-index: 10
		svg
			z-index: 10
	&__links
		display: flex
		margin-right: 47px
		li
			display: block 
			a
				padding: 4px 0
				color: #000
				text-decoration: none 
				text-transform: uppercase 
				transition: 0.5s 
				white-space: nowrap
				position: relative
				&::after
					position: absolute 
					content: "" 
					top: 100% 
					left: 0 
					width: 100% 
					height: 3px 
					background: #3483C7
					transform: scaleX(0) 
					transform-origin: right 
					transition: transform 0.5s 
				&:hover 
					color: #3483C7
					&::after 
						transform: scaleX(1) 
						transform-origin: left 
			&:not(:last-child)
				margin-right: 24px
	&__shedule
		display: flex
		align-items: center
		margin-right: 43px
		a
			font-family: "Raleway-Bold"
			font-size: 13px
			color: #073773
			margin-left: 6px
			text-transform: uppercase
	&__social
		display: flex
		margin-right: 44px
		a
			width: 28px
			height: 28px
			border: 1px solid #939598
			border-radius: 50%
			display: block
			position: relative
			svg
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
			&:not(:last-child)
				margin-right: 7px
	&__lang
		display: flex
		a
			font-size: 12px
			text-transform: uppercase
			white-space: nowrap
			color: #939598
			&:not(:last-child)
				margin-right: 15px
		.active
			font-family: "Raleway-Bold"
			color: #073773

.footer
	background: url('../img/footer-bg.png') center center/cover no-repeat
	padding-bottom: 12px
	padding-top: 30px
	z-index: 2
	&__nav
		display: flex
		align-items: center
		margin-bottom: 26px
		&::after
			
	&__logo
		margin-bottom: 8px
		margin-top: 34px
		svg	
			path	
				fill: #fff
	&__links
		display: flex
		margin-right: 42px
		li
			display: block 
			a
				padding: 4px 0 
				color: #fff
				text-decoration: none 
				text-transform: uppercase 
				transition: 0.5s 
				white-space: nowrap
				position: relative
				&::after
					position: absolute 
					content: "" 
					top: 100% 
					left: 0 
					width: 100% 
					height: 3px 
					background: #3483C7
					transform: scaleX(0) 
					transform-origin: right 
					transition: transform 0.5s 
				&:hover 
					color: #3483C7
					&::after 
						transform: scaleX(1) 
						transform-origin: left 
			&:not(:last-child)
				margin-right: 24px
	&__shedule
		display: flex
		align-items: center
		margin-right: 43px
		color: #fff
		a
			font-family: "Raleway-Bold"
			font-size: 13px
			color: #fff
			margin-left: 6px
			text-transform: uppercase
		svg
			path
				fill: #fff
	&__social
		display: flex
		a
			width: 28px
			height: 28px
			border: 1px solid #fff
			border-radius: 50%
			display: block
			position: relative
			svg
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				path
					fill: #fff
			&:not(:last-child)
				margin-right: 7px
	&__rights
		display: flex
		align-items: flex-end
	&__address
		color: #fff
		max-width: 128px
		font-size: 11px
		margin-right: 200px
	&__reserved
		font-size: 8px
		color: #fff
		margin-right: 47px

.first-screen
	width: 100%
	position: relative
	z-index: 2
	img
		width: 100%
	&__title
		font-size: 100px
		line-height: 118px
		font-family: "PhillippScript"
		left: 50%
		transform: translateX(-50%)
		top: 87px
		position: absolute
		color: #fff
		&--bottom
			top: 33%
			text-align: center
			font-size: 60px
			line-height: 71px
			max-width: 766px
	&__breadcrumbs
		position: absolute
		top: 31px
		left: 50%
		transform: translate(-50%)
		display: flex
		align-items: center
		a
			color: #fff	
			margin-right: 9px
			display: flex
			align-items: center
			span
				margin-right: 9px
				font-size: 10px
			svg
	&__arrow
		min-width: 3px
		min-height: 5px
	&__main
		margin-left: 4px
	&__current
		font-size: 10px
		color: #fff
		opacity: .5
	&__house
		margin-top: -3px
	&__date
		position: absolute
		top: 25%
		left: 50%
		transform: translate(-50%)
		font-size: 10px
		color: #fff
		opacity: .5
	&__btn
		position: absolute
		left: 50%
		transform: translateX(-50%)
		top: 40%
		line-height: 18px
	// &__mainImage
	// 	position: relative
	// 	height: 551px
	// 	img
	// 		height: 100%
	// 		object-fit: cover
	// 	&::after
	// 		content: ''
	// 		display: block
	// 		position: absolute
	// 		top: 0
	// 		left: 0
	// 		width: 100%
	// 		height: 100%
	// 		background: linear-gradient(75.62deg, #009EE2 7.02%, #273992 91.67%)
	// 		opacity: .7