@media (max-width: 1280px)
    .classes
        padding-bottom: 140px
        &__block
            width: 100%

@media (max-width: 767px)
    .classes
        padding-bottom: 50px
        &__block
            grid-gap: 20px
        &__item
            width: 100%
            display: flex
            flex-direction: column
            height: 100%
        &__content
            width: 100%
        &__image
            position: static
            margin-bottom: 20px
            img
                margin: 0 auto
                width: 70%
                max-width: 226px
                max-height: 340px
                width: auto